body{
    background:white;
}
header{
    margin:0;
    background:#333;
    border-radius: 0 0 20px 20px;
}
header h1
{
    margin: 0 41.8%;
    font-family: consolas;
    font-size: 35;
    color:white;
}
nav ul{
    margin:0;
}
nav ul li{
    margin:2%;
    padding:1% 2%;
    display: inline-block;
    list-style-type: none;
    background: green;
    border-radius: 10px;
    width: 11%;
}
nav ul li a
{
    font-family: Arial;
    color:yellow;
    font-size: 70%;
    padding:35%;
}
p{
    margin: 5%;
}
